.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    height: 42px;
    width: 218px;
    border: 0;
    border-radius: 20px;
    background-color: #3ab66d;
    color: #ffffff;
    font-size: 18px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    &:hover {
      cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
      margin-top: 2rem;
    }
  }
  .inputContainer {
    display: flex;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  .inputGroup {
    input {
      display: none;
    }
    label {
      text-align: center;
      user-select: none;
      display: block;
      padding: 3rem;
      background-color: #ffffff;
      border-radius: 20px;
      transition: background-color 300ms;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      margin: 2rem 1rem;
      @media only screen and (max-width: 600px) {
        margin: 1rem 1rem;
      }
    }
    .checkLabel:checked + .labelForCheck {
      filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.3));
      font-weight: bold;
      background-color: #007fa2;
      color: #ffffff;
    }
  }
}
