.sortingTools {
  display: flex;
  align-items: center;
  .active {
    background-color: #0ad4fa;
    color: #ffffff;
  }
  button {
    height: 42px;
    width: 218px;
    border: 0;
    border-radius: 20px;
    background-color: #ededed;
    color: #979797;
    font-size: 24px;
    padding: 0.7rem 0.3rem;
    margin: 0 2rem 0 0;
    height: fit-content;
    &:hover {
      cursor: pointer;
    }
  }
  .sortBy {
    font-size: 24px;
    color: #a3a3a3;
    padding: 0 1.5rem;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    button {
      margin: 0 0 2rem 0;
    }
  }
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    button {
      margin: 0 0 2rem 0;
    }
  }
}
