.productIndex {
  font-size: 24px;
  color: #616161;
  padding-right: 1.5rem;
  margin: 0.5rem 0;

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}
.indexContainer {
  border-right: 1px solid #d9d9d9;
  @media only screen and (max-width: 1500px) {
    border: none !important;
  }
}
.paginationButton {
  border: none;
  background: none;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
  &:disabled:hover {
    cursor: not-allowed;
  }
}
.buttonContainer {
  display: flex;
  justify-self: end;
}
