.footer {
  height: 5rem;
  padding: 1.5rem 15rem;
  background-color: #000000;
  color: #ffffff;
  p {
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    padding: 1rem 1rem;
  }
}
