.container {
  .gridLayout {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px 20px;
    border-top: 1px solid #d9d9d9;
  }
  .loading {
    display: flex;
    justify-content: center;
  }
}
.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    button {
      margin: 0 0 2rem 0;
    }
  }
}
.paginationContainerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem;
  @media only screen and (max-width: 600px) {
    align-items: center;
  }
}
