.historyContainer {
  width: 100%;
}
.historyGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px 15px;
}

.historyCard {
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  min-height: 170px;
}
.pagination {
  display: block;
  width: 100%;
}
