.container {
  .gridLayout {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 20px;
    border-top: 1px solid #d9d9d9;
  }
}
