.container {
  display: grid;
  justify-content: center;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 3rem 15rem;
  background-color: #f9f9f9;
  @media only screen and (max-width: 600px) {
    padding: 3rem 3rem;
  }
  h2 {
    text-align: center;
  }
}
